body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Avenir", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3, .pimg4{
  position:relative;
  opacity:0.75;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;


  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.pimg4{
  background-image:url('../img/image4.jpg');
  min-height:100%;
}

.section{
  text-align:justify;
  padding:50px 80px;
}

.section-light{
  background-color:#ffe4c4;
  color:#000;
}

.section-medium{
  background-color:#4682b4;
  color:#fff;
}

.section-dark{
  background-color:#696969;
  color:#fff;
}


.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:50px;
  letter-spacing:8px;
}

.ptext .border{
  background-color:transparent;
  color:#000;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.ptext1{
  position:absolute;
  top:80%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:100px;
  letter-spacing:8px;
}

.ptext1 .border{
  background-color:#transparent;
  color:#fff;
  padding:20px;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}
